{% block comments %}
<h2>Comments</h2>
{% for comment in post.comments-%}
    <div class=comments>
        <div id={{ comment.id }} class="comment">
            <div class="info {{ comment.recovered }}">
                <a href="https://www.reddit.com{{ comment.commentLink }}"><div class="time">{{ comment.created_utc }}</div></a>
                <div class="score">({{ comment.score }})</div>
                <div class=author>u/{{ comment.author }}</div>
            </div>
            <p>{{ comment.body | markdown }}</p>
            {%- for reply in comment.replies recursive %}
                <div class=reply>
                        <div id={{ reply.id }} class="comment">
                            <div class="info {{ reply.recovered }}">
                                <a href="https://www.reddit.com{{ reply.commentLink }}"><div class="time">{{ reply.created_utc }}</div></a>
                                <div class="score">({{ reply.score }})</div>
                                <div class=author>u/{{ reply.author }}</div>
                            </div>
                            <p>{{ reply.body | markdown }}</p>
                    {%- if reply.replies%}
                        {{- loop(reply.replies) }}
                    {%- endif %}
                    </div>
                </div>
            {%- endfor %}
        </div>
    </div>
{%- endfor %}
{% endblock %}